// fade-transform
// Main组件router-view 切换动画
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}

.fade-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(30px);
}

.height-transform-leave-active,
.height-transform-enter-active {
  transition: all 0.2s;
}

.height-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(0);
}

.height-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(100%);
}